@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

body {
  width: 400px;
  height: 500px;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.main-container {
  background: rgb(0, 128, 255);
  width: 100%;
  height: 100%;
  .main-loader {
    background: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      animation: rotate-center 2s linear infinite both;
    }
  }
  .intro-container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transform: translateY(500px);
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    .intro-img {
      position: absolute;
      right: -100px;
      top: -60px;
    }

    .intro-collection {
      text-align: center;
      z-index: 1;

      input[type="text"] {
        outline: none;
        width: 300px;
        padding: 10px;
        color: #6d83f2;
        border: 0;
        box-shadow: 1px 1px 10px #aaa;

        &::placeholder {
          color: #6d83f2;
          opacity: 1;
        }
      }

      .submit-button {
        transition: 4s;
        animation: bounce-in-top 1.1s both;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px auto;
          width: 40px;
          height: 40px;
          border: 0;
          background: #6d83f2;
          border-radius: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .weather-container {
    background: #fff;
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1);

    .input-country {
      position: absolute;
      top: -280px;
      left: 50%;
      transform: translateX(-50%);
      background: #fff;
      display: flex;
      border-radius: 50px;

      img {
        margin: 0 0 0 10px;
      }

      input[type="text"] {
        border: 0;
        padding: 5px 10px 5px 10px;
        border-radius: 50px;
        outline: none;
        color: #aaa;
        width: 300px;

        &::placeholder {
          color: #aaa;
        }
      }
    }
    .big-details {
      position: absolute;
      top: -230px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: #fff;
      width: 100%;
      input[type="radio"] {
        display: none;
      }
      label {
        cursor: pointer;
        text-decoration: none;
      }
      #slides {
        position: relative;
        z-index: 1;
      }
      #overflow {
        width: 100%;
        overflow: hidden;
      }
      #slide1:checked ~ #slides .inner {
        margin-left: 0;
      }
      #slide2:checked ~ #slides .inner {
        margin-left: -100%;
      }
      #slide3:checked ~ #slides .inner {
        margin-left: -200%;
      }
      #slides .inner {
        transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
        width: 400%;
        line-height: 0;
        height: 200px;
      }
      #slides .slide {
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
      }
      #controls {
        margin: -180px 0 0 0;
        width: 100%;
        height: 50px;
        z-index: 3;
        position: relative;
      }
      #controls label {
        transition: opacity 0.2s ease-out;
        display: none;
        width: 35px;
        height: 35px;
        opacity: 1;
      }

      #slide1:checked ~ #controls label:nth-child(2),
      #slide2:checked ~ #controls label:nth-child(3),
      #slide3:checked ~ #controls label:nth-child(1) {
        background: url("../assets/icons/arrow-left.svg") no-repeat;
        float: right;
        margin: 0 -50px 0 0;
        display: block;
      }
      #slide1:checked ~ #controls label:nth-last-child(2),
      #slide2:checked ~ #controls label:nth-last-child(3),
      #slide3:checked ~ #controls label:nth-last-child(1) {
        float: left;
        margin: 0 0 0 -50px;
        display: block;
      }
      #bullets {
        margin: 115px 0 0;
        text-align: center;
      }
      #bullets label {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.3);
        margin: 0 4px;
      }
      #slide1:checked ~ #bullets label:nth-child(1),
      #slide2:checked ~ #bullets label:nth-child(2),
      #slide3:checked ~ #bullets label:nth-child(3) {
        background: #fff;
      }
      @media screen and (max-width: 900px) {
        #slide1:checked ~ #controls label:nth-child(2),
        #slide2:checked ~ #controls label:nth-child(3),
        #slide3:checked ~ #controls label:nth-child(1),
        #slide1:checked ~ #controls label:nth-last-child(2),
        #slide2:checked ~ #controls label:nth-last-child(3),
        #slide3:checked ~ #controls label:nth-last-child(1) {
          margin: 70px 50px;
        }
        #slides {
          max-width: calc(100% - 140px);
          margin: 0 auto;
        }
      }
      h1 {
        font-weight: 600;
        font-size: 4.5em;
        line-height: 70px;

        .degree {
          font-weight: 400;
        }
      }
      h4 {
        margin: 15px 0 0 0;
      }
      .big-details-location {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 50px;
      }
    }
    .weather-info {
      margin: 30px auto;
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 1em;

      .details {
        text-align: center;
        color: #424242;
        cursor: pointer;

        img {
          width: 30px;
        }

        p {
          font-size: 0.9em;
        }
      }
    }
  }
}
.news-container {
  width: 100%;
  height: 100%;
  background: #f6f6f6;
  position: relative;
  transform: translateY(500px);
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  .close-news {
    p {
      color: red;
      margin: 10px 0 0 10px;
      cursor: pointer;
    }
  }

  .actual-news {
    .news-box {
      display: flex;
      flex-direction: column;
      background: #fff;
      border: 1px solid #e9e9e9;
      width: 95%;
      margin: 10px auto;
      padding: 5px;
      border-radius: 5px;

      .news-img {
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
        }
      }

      .news-description {
        margin: 0 0 0 5px;
        .headline {
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-decoration: none;
          line-height: 20px;
          color: #6d83f2;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          font-size: 13px;
          color: #7b7a7a;
        }
      }
    }
  }
}

.load-more {
  text-align: center;
  padding-bottom: 10px;
  button {
    background: #6d83f2;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    outline: none;
  }
}

.loader-btn,
.loader-btn:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.loader-btn {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 3px solid rgba(255, 255, 255, 0.2);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader-btn 1.1s infinite linear;
  animation: loader-btn 1.1s infinite linear;
}
@-webkit-keyframes loader-btn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-btn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
